<div class="area-login-background d-none d-md-block">

</div>

<div class="area-form">
  <form action="">
    <h1 class="titulo"> CRUD USERS</h1>
    <h2 class="subtitulo">Mas eficiência no controle de usuários</h2>

    <input class="input-form" type="text" placeholder="Digite seu nome" [(ngModel)]="userName" [ngModelOptions]="{standalone: true}">

    <app-button textButton="Acessar" size="100" (click)="login()" ></app-button>

  </form>

  <p class="footer">© 2024 | Desenvolvido por Marcos Paulo</p>
</div>
